:root {
--primary: #3155e7;
--primary-dark: #2345t55;
--black:#010101;
--gray-1: #788190;
--gray-2:#c9caccf5;
--white:#ffffff;
--denger:#dc3545;
}

section.hero{
    padding: 80px 0;
}
section.hero .text{
    font-weight: 800;
    font-size: 48px;
    line-height: 73px;
    color: var(--gray-2);
}

.buttons{
    padding-top: 69px;
}

.buttons .btn{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}


section.setup{
    padding: 90px;
    margin: 30px;
}

section.setup .text-header h3{
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: var(--denger);
}

section.setup .text-header p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: var(--white);
    padding: 27px 0;
}

section.setup h5{
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: var(--white);
    padding-bottom: 18px 0;
}

section.setup .desc p{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: var(--gray-2);
    max-width: 284px;
    margin: 0 auto;
}

section.information .text-information {
    padding: 134px 0;
}
section.information h5{
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: var(--denger);
}

section.information p{
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: var(--gray-2);
    padding-top: 20px;   
}

section.information .info-1{
    padding: 183px 0;
}









